.Search {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
  padding: 4px 8px;
  margin: 0 auto 42px auto;
  box-sizing: border-box;
}

.SearchInput {
  flex-grow: 1;
  border: none;
  background: none;
  font-size: 1.4rem;
  padding: 6px 8px;
  outline: none;
  border-radius: 6px;
}

.SearchButton {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
